In [10]:
import pandas as pd
import numpy as np
from sklearn import tree

In [11]:
dogs_cats = pd.read_csv('dogs_n_cats.csv')
test_dogs_cats = pd.read_json('test_dogs_n_cats.txt')

In [12]:
def pets(view):
    if view == 'собачка':
        return 0
    elif view == 'котик':
        return 1

In [13]:
dogs_cats['Питомец'] = dogs_cats['Вид'].apply(pets)

In [14]:
dogs_cats = dogs_cats.drop(columns='Вид',axis=1)
dogs_cats.head()

   Длина  Высота  Шерстист  Гавкает  Лазает по деревьям  Питомец
0     15    18.0         1        1                   0        0
1     20    24.0         1        0                   0        0
2     34    40.8         1        1                   0        0
3     26    31.2         1        1                   0        0
4     16    19.2         1        1                   0        0

In [15]:
X_train = dogs_cats.drop(['Питомец'],axis=1)
Y_train = dogs_cats['Питомец']

In [16]:
clf = tree.DecisionTreeClassifier(criterion='entropy')
clf.fit(X_train, Y_train) #обучаем дерево на данных

DecisionTreeClassifier(criterion='entropy')

In [17]:
X_test = test_dogs_cats

In [18]:
clf.predict(X_test).sum() # 46котиков в тестовом датасете

46