In [25]:
import pandas as pd
import numpy as np
from sklearn import tree

In [26]:
# Загружаем данные для тренировки дерева и тестовые данные
dogs_cats = pd.read_csv('dogs_n_cats.csv')
test_dogs_cats = pd.read_json('test_dogs_n_cats.txt')

In [27]:
# Создаем функцию для перевода текстовых значений к номинативным переменным
def pets(view):
    if view == 'собачка':
        return 0
    elif view == 'котик':
        return 1

In [28]:
# С помощью метода apply заменяем текстовые данные на номинативные переменные
dogs_cats['Питомец'] = dogs_cats['Вид'].apply(pets)

In [29]:
# Удаляем колонку с текстовыми данными
dogs_cats = dogs_cats.drop(columns='Вид',axis=1)
dogs_cats.head()

   Длина  Высота  Шерстист  Гавкает  Лазает по деревьям  Питомец
0     15    18.0         1        1                   0        0
1     20    24.0         1        0                   0        0
2     34    40.8         1        1                   0        0
3     26    31.2         1        1                   0        0
4     16    19.2         1        1                   0        0

In [30]:
# Создаем переменные для обучения дерева
X_train = dogs_cats.drop(['Питомец'],axis=1)
Y_train = dogs_cats['Питомец']

In [31]:
clf = tree.DecisionTreeClassifier(criterion='entropy') # Создаем дерево
clf.fit(X_train, Y_train) # Обучаем дерево на данных

DecisionTreeClassifier(criterion='entropy')

In [32]:
test_dogs_cats.head()

   Длина  Высота  Шерстист  Гавкает  Лазает по деревьям
0     28    33.6         1        1                   0
1     25    30.0         1        1                   0
2     16    19.2         1        1                   0
3     28    33.6         1        1                   0
4     21    25.2         1        1                   0

In [33]:
X_test = test_dogs_cats

In [34]:
clf.predict(X_test).sum() # Предсказываем количество котиков в тестовом датасете

46